<nav
  [ngClass]="{ 'navbar-scrolled': isScrolled, 'navbar-background': needBg }"
  class="navbar navbar-expand-sm navbar-dark fixed-top"
>
  <div class="container">
    <a class="navbar-brand fw-bold fs-2" [routerLink]="['/home']" role="button"
      >Lo<span class="text-warning">toApp</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item fs-5">
          <a
            class="nav-link"
            [ngClass]="{ highlighted: pageState === 'home' }"
            [routerLink]="['/home']"
            role="button"
            ><i class="bi bi-house"></i> Home</a
          >
        </li>
        <li class="nav-item fs-5">
          <a
            class="nav-link"
            [ngClass]="{ highlighted: pageState === 'login' }"
            [routerLink]="['/login']"
            role="button"
            ><i class="bi bi-person"></i> Compte</a
          >
        </li>
        <li class="nav-item fs-5">
          <a
            class="nav-button btn btn-warning"
            [routerLink]="['/contact']"
            role="button"
          >
            Contactez nous</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
