<h2 class="fs-1 fw-bold mb-3 text-center">
  Votre mot de <span class="text-primary">passe</span>
</h2>
<div class="container mt-4">
  <div class="form-container">
    <form [formGroup]="updateFormPassword" (ngSubmit)="onSubmit()">
      <!-- Ancien Mot de Passe -->
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="oldPassword"
            placeholder="Ancien Mot de Passe"
            formControlName="old_password"
          />
          <label for="oldPassword">Ancien Mot de Passe</label>
        </div>
        <!-- Afficher les erreurs du serveur pour old_password -->
        <div
          class="text-danger"
          *ngIf="getErrorMessage('old_password') && updateFormPassword.touched"
        >
          {{ getErrorMessage("old_password") }}
        </div>
      </div>

      <!-- Nouveau Mot de Passe -->
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="newPassword"
            placeholder="Nouveau Mot de Passe"
            formControlName="new_password"
          />
          <label for="newPassword">Nouveau Mot de Passe</label>
        </div>
        <!-- Afficher les erreurs du serveur pour new_password -->
        <div
          class="text-danger"
          *ngIf="getErrorMessage('new_password') && updateFormPassword.touched"
        >
          {{ getErrorMessage("new_password") }}
        </div>
      </div>

      <!-- Confirmer Nouveau Mot de Passe -->
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirmer le Nouveau Mot de Passe"
            formControlName="confirm_new_password"
          />
          <label for="confirmPassword">Confirmer le Nouveau Mot de Passe</label>
        </div>
        <!-- Afficher les erreurs pour confirm_new_password -->
        <div
          class="text-danger"
          *ngIf="
            getErrorMessage('confirm_new_password') &&
            updateFormPassword.touched
          "
        >
          {{ getErrorMessage("confirm_new_password") }}
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="!updateFormPassword.valid"
        >
          Enregistrer les Modifications
        </button>
      </div>
    </form>
  </div>
</div>
