<app-navbar-shared [pageState]="pageState"></app-navbar-shared>

<section class="container py-5 mt-5">
  <div class="row mt-4 g-4 text-center">
    <div class="col-12">
      <h2 class="fs-1 fw-bold mb-4">
        Salut <span class="text-warning">User</span>
        <!--Modifier user par le nom de l'utilisateur-->
      </h2>
      <p class="lead text-muted">
        Gérez vos activités facilement et efficacement.
      </p>
    </div>
  </div>
  <div class="row mt-2 g-4">
    <div class="col-lg-6 d-flex justify-content-end">
      <div class="card shadow-sm border-light h-100">
        <div class="card-body">
          <h5 class="card-title">Une expérience fluide</h5>
          <p class="card-text">
            Notre application a été conçue pour vous offrir une expérience
            simple, fluide et intuitive. Elle vous permet de gérer facilement
            toutes vos activités et d'accéder rapidement aux fonctionnalités qui
            vous intéressent.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-start">
      <div class="card shadow-sm border-light h-100">
        <div class="card-body">
          <h5 class="card-title">Suivez vos interactions</h5>
          <p class="card-text">
            Avec notre application, vous pouvez suivre vos interactions en temps
            réel, accéder à des fonctionnalités personnalisées et gérer vos
            préférences. Nous mettons un point d'honneur à assurer la sécurité
            de vos données et la protection de votre vie privée à chaque étape
            de votre parcours.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="container section-padding py-5 mt-5"
  style="margin-bottom: 80px"
>
  <div class="container mt-4">
    <!-- Nav Pills pour les écrans petits -->
    <ul class="nav nav-pills d-md-none mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" href="#category1"
          ><i class="bi bi-info-square-fill"></i> Profil</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#category2"
          ><i class="bi bi-file-lock2-fill"></i> Mot de passe</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#category3">
          <i class="bi bi-dice-3-fill"></i> Jouer
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#category4">
          <i class="bi bi-calendar-check-fill"></i> Vos jeux
        </a>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-danger" id="logoutButton">
          Déconnexion
        </button>
      </li>
    </ul>

    <div class="row">
      <div class="col-md-3 d-none d-md-block">
        <ul class="nav flex-column nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#category1"
              ><i class="bi bi-info-square-fill"></i> Profil</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#category2"
              ><i class="bi bi-file-lock2-fill"></i> Mot de passe</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#category3"
              ><i class="bi bi-dice-3-fill"></i> Jouer</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#category4"
              ><i class="bi bi-calendar-check-fill"></i> Vos jeux</a
            >
          </li>
          <li class="nav-item">
            <button class="nav-link btn" id="logoutButton">
              <i class="bi bi-door-closed-fill"></i> Déconnexion
            </button>
          </li>
        </ul>
      </div>

      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="category1">
            <app-user-informations />
          </div>
          <div class="tab-pane fade" id="category2">
            <app-user-password />
          </div>
          <div class="tab-pane fade" id="category3">
            <app-user-play />
          </div>
          <div class="tab-pane fade" id="category4">
            <app-user-history />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-shared />
