<app-navbar-shared [pageState]="pageState" />

<section class="contact-bubble-container" style="margin-top: 150px">
  <h2 class="fw-bold">Faites-nous <span>part</span></h2>

  <div class="bubble bubble-left">
    Nous sommes là pour vous aider ! Que vous ayez des questions ou des
    suggestions, contactez-nous pour une réponse rapide.
  </div>

  <div class="bubble bubble-right">
    Votre satisfaction est notre priorité. Remplissez le formulaire pour que
    nous puissions vous répondre efficacement.
  </div>
</section>

<section id="contact" class="container py-5" style="margin-top: 50px">
  <app-contact-form />
</section>

<app-footer-shared />
