<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 60vh"
>
  <div class="form-container col-12 col-md-8">
    <div class="d-flex flex-column align-items-center">
      <!-- Titre centré -->
      <h2 class="text-center mb-4">Participez à la Loterie</h2>

      <form>
        <div class="mb-3">
          <label for="mainNumbers" class="form-label"
            >Entrez 5 numéros (1 à 50)</label
          >
          <div class="d-flex flex-column flex-md-row justify-content-center">
            <input
              class="form-control form-control-sm mb-1 mb-md-0 me-md-1"
              min="1"
              max="50"
              placeholder="N°1"
            />
            <span class="mx-1 d-none d-md-inline"
              ><i class="bi bi-dash-lg"></i
            ></span>
            <input
              class="form-control form-control-sm mb-1 mb-md-0 me-md-1"
              min="1"
              max="50"
              placeholder="N°2"
            />
            <span class="mx-1 d-none d-md-inline"
              ><i class="bi bi-dash-lg"></i
            ></span>
            <input
              class="form-control form-control-sm mb-1 mb-md-0 me-md-1"
              min="1"
              max="50"
              placeholder="N°3"
            />
            <span class="mx-1 d-none d-md-inline"
              ><i class="bi bi-dash-lg"></i
            ></span>
            <input
              class="form-control form-control-sm mb-1 mb-md-0 me-md-1"
              min="1"
              max="50"
              placeholder="N°4"
            />
            <span class="mx-1 d-none d-md-inline"
              ><i class="bi bi-dash-lg"></i
            ></span>
            <input
              class="form-control form-control-sm mb-1"
              min="1"
              max="50"
              placeholder="N°5"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="chanceNumbers" class="form-label"
            >Entrez 3 numéros chance (1 à 10)</label
          >
          <div class="d-flex flex-column flex-md-row justify-content-center">
            <input
              class="form-control form-control-sm mb-1 mb-md-0 me-md-1"
              min="1"
              max="10"
              placeholder="Chance 1"
            />
            <span class="mx-1 d-none d-md-inline"
              ><i class="bi bi-star-fill"></i
            ></span>
            <input
              class="form-control form-control-sm mb-1 mb-md-0 me-md-1"
              min="1"
              max="10"
              placeholder="Chance 2"
            />
            <span class="mx-1 d-none d-md-inline"
              ><i class="bi bi-star-fill"></i
            ></span>
            <input
              class="form-control form-control-sm mb-1"
              min="1"
              max="10"
              placeholder="Chance 3"
            />
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-warning w-100">Jouer</button>
        </div>
      </form>
    </div>
  </div>
</div>
