<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 60vh"
>
  <div class="form-container col-12 col-md-8">
    <div class="d-flex flex-column align-items-center">
      <h2 class="text-center mb-4">Participez à la Loterie</h2>

      <form [formGroup]="registryLotteryForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="mainNumbers" class="form-label">
            Entrez 5 numéros (1 à 50)
          </label>
          <div
            class="d-flex flex-column flex-md-row justify-content-center"
            formGroupName="numbers"
          >
            <input
              class="form-control mb-1 me-md-1"
              type="number"
              formControlName="num1"
              placeholder="N°1"
              style="width: 100%; max-width: 120px"
            />
            <input
              class="form-control mb-1 me-md-1"
              type="number"
              formControlName="num2"
              placeholder="N°2"
              style="width: 100%; max-width: 120px"
            />
            <input
              class="form-control mb-1 me-md-1"
              type="number"
              formControlName="num3"
              placeholder="N°3"
              style="width: 100%; max-width: 120px"
            />
            <input
              class="form-control mb-1 me-md-1"
              type="number"
              formControlName="num4"
              placeholder="N°4"
              style="width: 100%; max-width: 120px"
            />
            <input
              class="form-control mb-1"
              type="number"
              formControlName="num5"
              placeholder="N°5"
              style="width: 100%; max-width: 120px"
            />
          </div>

          <div
            *ngIf="registryLotteryForm.get('numbers')?.errors?.['backend']"
            class="text-danger"
          >
            {{ registryLotteryForm.get("numbers")?.errors?.["backend"] }}
          </div>
        </div>

        <div class="mb-3">
          <label for="chanceNumbers" class="form-label">
            Entrez 3 numéros chance (1 à 10)
          </label>
          <div
            class="d-flex flex-column flex-md-row justify-content-center"
            formGroupName="lucky_numbers"
          >
            <input
              class="form-control mb-1 me-md-1"
              type="number"
              formControlName="lucky1"
              placeholder="Chance 1"
              style="width: 100%; max-width: 120px"
            />
            <input
              class="form-control mb-1 me-md-1"
              type="number"
              formControlName="lucky2"
              placeholder="Chance 2"
              style="width: 100%; max-width: 120px"
            />
          </div>

          <div
            *ngIf="
              registryLotteryForm.get('lucky_numbers')?.errors?.['backend']
            "
            class="text-danger"
          >
            {{ registryLotteryForm.get("lucky_numbers")?.errors?.["backend"] }}
          </div>
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-warning w-100"
            [disabled]="isSubmitDisabled"
          >
            Jouer
          </button>
        </div>

        <div
          *ngIf="backendErrors?.message"
          class="text-danger text-center mt-3"
        >
          {{ backendErrors?.message }}
        </div>
      </form>
    </div>
  </div>
</div>
