<h2 class="fs-1 fw-bold mb-3 text-center">
  Vos <span class="text-warning">informations</span>
</h2>
<div class="container mt-4">
  <div class="form-container">
    <form>
      <div class="mb-3 row">
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="firstName"
              placeholder="Prénom"
              required
            />
            <label for="firstName">Prénom</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Nom"
              required
            />
            <label for="lastName">Nom</label>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            required
          />
          <label for="email">Email</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="tel"
            class="form-control"
            id="phone"
            placeholder="Téléphone"
            required
          />
          <label for="phone">Téléphone</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <select id="gameOptions" class="form-select form-select-sm">
            <option value="option1" selected>Aucune notifications</option>
            <option value="option2">Téléphone</option>
            <option value="option3">Email</option>
            <option value="option4">Les deux</option>
          </select>
          <label for="gameOptions">Notifications</label>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-warning w-100">
          Enregistrer les Modifications
        </button>
      </div>
    </form>
  </div>
</div>
