<section class="container mt-5">
  <div class="card shadow-sm">
    <div
      class="card-header bg-secondary text-white d-flex justify-content-between align-items-center"
    >
      <h4 class="mb-0">Détails du Tirage</h4>

      <div class="d-flex">
        <button
          class="btn btn-warning d-none d-md-inline-block"
          (click)="toggleEditMode()"
          [disabled]="isDone()"
        >
          {{ editMode ? "Annuler" : "Modifier" }}
        </button>

        <button
          class="btn btn-primary ms-2 d-none d-md-inline-block"
          (click)="navigatToManageParticipant()"
          [disabled]="isDone()"
        >
          Modifier les participants
        </button>
        <button
          class="btn btn-info"
          [disabled]="!isDone()"
          (click)="navigatToTirageResult()"
        >
          Afficher les résultats
        </button>
        <button
          class="btn btn-danger ms-2 d-none d-md-inline-block"
          data-bs-toggle="modal"
          data-bs-target="#confirmStatusModal"
          [disabled]="!isInSimulation() || !isInValidation()"
        >
          Terminer le tirage
        </button>
      </div>
    </div>

    <div class="card-body">
      <form [formGroup]="updateTirageForm" (ngSubmit)="saveChanges()">
        <!-- Nom du Tirage -->
        <div class="form-group mb-3">
          <label for="nom">Nom du Tirage</label>
          <input
            type="text"
            id="nom"
            class="form-control"
            formControlName="name"
            [readonly]="!editMode"
          />
          <div *ngIf="hasServerError('name')" class="text-danger">
            {{ hasServerError("name") }}
          </div>
        </div>

        <!-- Récompense -->
        <div class="form-group mb-3">
          <label for="recompense">Récompense</label>
          <input
            type="text"
            id="recompense"
            class="form-control"
            formControlName="reward_price"
            [readonly]="!editMode"
          />
          <div *ngIf="hasServerError('reward_price')" class="text-danger">
            {{ hasServerError("reward_price") }}
          </div>
        </div>

        <!-- Nombre Maximum de Participants -->
        <div class="form-group mb-3">
          <label for="participantsMax">Nombre Maximum de Participants</label>
          <input
            type="number"
            id="participantsMax"
            class="form-control"
            formControlName="max_participants"
            [readonly]="!editMode"
          />
          <div *ngIf="hasServerError('max_participants')" class="text-danger">
            {{ hasServerError("max_participants") }}
          </div>
        </div>

        <!-- Status -->

        <div class="form-group mb-3" *ngIf="tirage.status !== 'SIMULATION'">
          <label for="status">Status</label>
          <select
            id="status"
            class="form-select"
            formControlName="status"
            [disabled]="!editMode"
          >
            <option
              *ngFor="let option of getStatusOptions()"
              [value]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
          <div *ngIf="hasServerError('status')" class="text-danger">
            {{ hasServerError("status") }}
          </div>
        </div>

        <!-- Date du Tirage -->
        <div class="form-group mb-3">
          <label for="dateTirage">Date du Tirage</label>
          <input
            type="date"
            id="dateTirage"
            class="form-control"
            formControlName="start_date"
            [readonly]="!editMode"
          />
          <div *ngIf="hasServerError('start_date')" class="text-danger">
            {{ hasServerError("start_date") }}
          </div>
        </div>

        <!-- Date de Fin -->
        <div class="form-group mb-3">
          <label for="dateFin">Date de Fin</label>
          <input
            type="date"
            id="dateFin"
            class="form-control"
            formControlName="end_date"
            [readonly]="!editMode"
          />
          <div *ngIf="hasServerError('end_date')" class="text-danger">
            {{ hasServerError("end_date") }}
          </div>
        </div>

        <button
          *ngIf="editMode"
          type="submit"
          class="btn btn-success"
          [disabled]="!updateTirageForm.dirty || !updateTirageForm.valid"
        >
          Enregistrer
        </button>
        <button
          *ngIf="editMode"
          type="button"
          class="btn btn-secondary"
          (click)="toggleEditMode()"
        >
          Annuler
        </button>
      </form>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="confirmStatusModal"
  tabindex="-1"
  aria-labelledby="confirmStatusModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmStatusModalLabel">
          Confirmer le changement de statut
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir terminer ce tirage ? Une fois que vous avez
        confirmé, le statut sera changé en "Terminé" et ne pourra plus être
        modifié.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-primary" (click)="confirmStatus()">
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
