<div class="row g-5" style="margin-top: 50px">
  <div class="col-12 col-lg-5">
    <img
      src="assets/test3.jpg"
      alt="draw-overview-img"
      class="img-fluid mx-auto d-block"
    />
  </div>
  <div class="col-12 col-lg-7">
    <h2 class="fs-1 fw-bold mb-3">
      Détails du <span class="text-warning">Tirage</span>
    </h2>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><strong>Nom du Tirage:</strong></td>
          <td>{{ name }}</td>
        </tr>
        <tr>
          <td><strong>Date de Début:</strong></td>
          <td>{{ startDate | date: "fullDate" }}</td>
        </tr>
        <tr>
          <td><strong>Date de Fin:</strong></td>
          <td>{{ endDate | date: "fullDate" }}</td>
        </tr>
        <tr>
          <td><strong>Montant Total:</strong></td>
          <td>{{ rewardPrice | currency: "EUR" }}</td>
        </tr>
        <tr>
          <td><strong>Nombre de Participants:</strong></td>
          <td>{{ participantCount }}</td>
        </tr>
      </tbody>
    </table>
    <p>
      Notre tirage est conçu pour vous offrir la meilleure expérience possible.
      Participez pour tenter votre chance et gagnez de superbes prix !
    </p>
  </div>
</div>
