<section class="container">
  <div class="row mt-4 g-4 text-center">
    <div class="col-12">
      <h2 class="fs-1 fw-bold mb-4 text-dark">
        Connexion en tant qu'<span class="text-primary">Admin</span>
      </h2>
      <p class="lead text-secondary">Accès réservé aux administrateurs</p>
    </div>
  </div>
</section>

<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 60vh"
>
  <div class="form-container">
    <div
      class="card shadow-lg border-0 rounded-3"
      style="width: 26rem; background-color: #f9f9f9"
    >
      <div class="card-body text-center p-5">
        <h5 class="card-title text-center mb-4 text-dark fw-semibold">
          Connexion
        </h5>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control border-0 shadow-sm rounded"
              id="email"
              placeholder="Email"
              formControlName="email"
              required
              style="background-color: #fff"
            />
            <label for="email" class="text-muted">Email</label>
            <div
              *ngIf="
                loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.touched ||
                  loginForm.get('email')?.dirty)
              "
            >
              <small class="text-danger"
                >Veuillez entrer un email valide.</small
              >
            </div>
            <div *ngIf="serverErrors?.details?.emailError" class="text-danger">
              {{ serverErrors?.details?.emailError }}
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control border-0 shadow-sm rounded"
              id="password"
              placeholder="Mot de passe"
              formControlName="password"
              required
              style="background-color: #fff"
            />
            <label for="password" class="text-muted">Mot de passe</label>
            <div
              *ngIf="
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.touched ||
                  loginForm.get('password')?.dirty)
              "
            >
              <small class="text-danger"
                >Le mot de passe doit comporter au moins 8 caractères.</small
              >
            </div>
            <div
              *ngIf="serverErrors?.details?.passwordError"
              class="text-danger"
            >
              {{ serverErrors?.details?.passwordError }}
            </div>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary w-100 py-2 shadow-sm"
              [disabled]="loginForm.invalid"
              style="border-radius: 50px; transition: all 0.3s ease"
            >
              Connectez-vous
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="container mt-4">
  <div class="row g-4 text-center">
    <div class="col-12">
      <button
        class="btn btn-outline-primary w-100 py-2"
        role="button"
        (click)="goToHome()"
        style="border-radius: 50px; transition: all 0.3s ease"
      >
        &#8592; Retour à l'accueil
      </button>
    </div>
  </div>
</section>
