<div class="container-fluid mt-5">
  <section>
    <div class="row mt-4 g-4 text-center">
      <div class="col-12">
        <h2 class="fs-1 fw-bold mb-4">
          Modifier les détails <span class="text-warning">du tirage</span>
        </h2>
        <p class="lead text-muted">
          Mettez à jour les informations du tirage, y compris les récompenses,
          les participants et les dates importantes.
        </p>
      </div>
    </div>
    <app-tirage-edit
      [tirage]="tirageOverview"
      (updateParent)="onTirageUpdate()"
    />
  </section>
</div>
