<div class="container mt-4">
  <div class="form-container">
    <form>
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="oldPassword"
            placeholder="Ancien Mot de Passe"
            required
          />
          <label for="oldPassword">Ancien Mot de Passe</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="newPassword"
            placeholder="Nouveau Mot de Passe"
            required
          />
          <label for="newPassword">Nouveau Mot de Passe</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirmer le Nouveau Mot de Passe"
            required
          />
          <label for="confirmPassword">Confirmer le Nouveau Mot de Passe</label>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-warning w-100">
          Enregistrer les Modifications
        </button>
      </div>
    </form>
  </div>
</div>
