<section class="py-5 mt-5">
  <div class="card shadow-sm">
    <div
      class="card-header d-flex justify-content-between align-items-center bg-secondary text-white"
    >
      <h4 class="mb-0"><i class="bi bi-list-ul"></i> Liste des Tirages</h4>
      <button
        class="btn btn-warning d-none d-md-inline-block"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#addUserCollapseId"
        aria-expanded="true"
        aria-controls="addUserCollapseId"
      >
        <i class="bi bi-plus-circle"></i> Creer une lottery
      </button>

      <button
        class="btn btn-warning d-md-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#addUserCollapseId"
        aria-expanded="true"
        aria-controls="addUserCollapseId"
      >
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <div id="addUserCollapseId" class="accordion-collapse collapse">
              <div class="accordion-body fs-5">
                <form [formGroup]="newTirage" (ngSubmit)="createTirage()">
                  <!-- Titre -->
                  <div class="mb-3">
                    <label for="titre" class="form-label">Titre</label>
                    <input
                      type="text"
                      class="form-control"
                      id="titre"
                      formControlName="name"
                      required
                    />
                    <div
                      *ngIf="
                        newTirage.get('name')?.invalid &&
                        newTirage.get('name')?.touched
                      "
                      class="text-danger"
                    >
                      Titre requis (au moins 2 caractères).
                    </div>
                    <div
                      *ngIf="hasServerError('name')"
                      class="invalid-feedback"
                    >
                      {{ hasServerError("name") }}
                    </div>
                  </div>

                  <!-- Récompense -->
                  <div class="mb-3">
                    <label for="recompense" class="form-label"
                      >Récompense</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="recompense"
                      formControlName="reward_price"
                      required
                    />
                    <div
                      *ngIf="
                        newTirage.get('reward_price')?.invalid &&
                        newTirage.get('reward_price')?.touched
                      "
                      class="text-danger"
                    >
                      Récompense requise (doit être supérieur à 0).
                    </div>
                    <div
                      *ngIf="hasServerError('reward_price')"
                      class="invalid-feedback"
                    >
                      {{ hasServerError("reward_price") }}
                    </div>
                  </div>

                  <!-- Participants Max -->
                  <div class="mb-3">
                    <label for="participantsMax" class="form-label"
                      >Participants Max</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="participantsMax"
                      formControlName="max_participants"
                      required
                    />
                    <div
                      *ngIf="
                        newTirage.get('max_participants')?.invalid &&
                        newTirage.get('max_participants')?.touched
                      "
                      class="text-danger"
                    >
                      Nombre de participants requis (doit être supérieur à 0).
                    </div>
                    <div
                      *ngIf="hasServerError('max_participants')"
                      class="invalid-feedback"
                    >
                      {{ hasServerError("max_participants") }}
                    </div>
                  </div>

                  <!-- Statut -->
                  <div class="mb-3">
                    <label for="status" class="form-label">Statut</label>
                    <select
                      class="form-select"
                      id="status"
                      formControlName="status"
                      (change)="onStatusChange()"
                    >
                      <option value="EN_COUR">En cours</option>
                      <option value="SIMULATION">Simulation</option>
                    </select>
                    <div
                      *ngIf="hasServerError('status')"
                      class="invalid-feedback"
                    >
                      {{ hasServerError("status") }}
                    </div>
                  </div>

                  <!-- Date de début (visible uniquement si statut = "EN_COUR") -->
                  <div class="mb-3" *ngIf="showDateFields">
                    <label for="startDate" class="form-label"
                      >Date de début</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="startDate"
                      formControlName="start_date"
                      required
                    />
                    <div
                      *ngIf="
                        newTirage.get('start_date')?.invalid &&
                        newTirage.get('start_date')?.touched
                      "
                      class="text-danger"
                    >
                      Date de début requise.
                    </div>
                    <div
                      *ngIf="hasServerError('start_date')"
                      class="invalid-feedback"
                    >
                      {{ hasServerError("start_date") }}
                    </div>
                  </div>

                  <!-- Date de fin (visible uniquement si statut = "EN_COUR") -->
                  <div class="mb-3" *ngIf="showDateFields">
                    <label for="endDate" class="form-label">Date de fin</label>
                    <input
                      type="date"
                      class="form-control"
                      id="endDate"
                      formControlName="end_date"
                      required
                    />
                    <div
                      *ngIf="
                        newTirage.get('end_date')?.invalid &&
                        newTirage.get('end_date')?.touched
                      "
                      class="text-danger"
                    >
                      Date de fin requise.
                    </div>
                    <div
                      *ngIf="hasServerError('end_date')"
                      class="invalid-feedback"
                    >
                      {{ hasServerError("end_date") }}
                    </div>
                  </div>

                  <!-- Bouton Créer -->
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="newTirage.invalid"
                  >
                    Créer
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="searchTerm"
              placeholder="Rechercher un tirage"
              [(ngModel)]="searchTerm"
              (input)="filterTirages()"
            />
            <label for="searchTerm">Rechercher un tirage</label>
          </div>

          <div class="mb-3">
            <label for="statusFilter" class="form-label">Statut</label>
            <select
              id="statusFilter"
              class="form-select"
              [(ngModel)]="statusFilter"
              (change)="onStatusChange(); filterTirages()"
            >
              <option value="">Tous les statuts</option>
              <option value="EN_COUR">En cours</option>
              <option value="EN_VALIDATION">En validation</option>
              <option value="TERMINE">Terminé</option>
              <option value="SIMULATION">Simulation</option>
              <option value="SIMULATION_TERMINE">Simulation terminé</option>
            </select>
          </div>

          <!-- Afficher les champs de date uniquement si le statut n'est pas "Simulation" ou "Simulation terminé" -->
          <div class="mb-3" *ngIf="!isStatusSimulationOrTermine()">
            <label for="startDate" class="form-label">Date de début</label>
            <input
              id="startDate"
              type="date"
              class="form-control"
              [(ngModel)]="startDate"
              (change)="filterTirages()"
            />
          </div>

          <div class="mb-3" *ngIf="!isStatusSimulationOrTermine()">
            <label for="endDate" class="form-label">Date de fin</label>
            <input
              id="endDate"
              type="date"
              class="form-control"
              [(ngModel)]="endDate"
              (change)="filterTirages()"
            />
          </div>
        </div>

        <div class="col-md-8">
          <div
            *ngIf="paginatedTirages.length === 0"
            class="text-muted text-center"
          >
            Aucun tirage
          </div>
          <div class="table-responsive">
            <table
              class="table table-hover mb-0"
              *ngIf="paginatedTirages.length > 0"
            >
              <thead class="table-light">
                <tr>
                  <th scope="col">
                    <i class="bi bi-info-circle-fill"></i> Titre
                  </th>
                  <th scope="col">
                    <i class="bi bi-currency-euro"></i> Récompense
                  </th>
                  <th scope="col"><i class="bi bi-people"></i> Participants</th>
                  <th scope="col"><i class="bi bi-flag-fill"></i> Status</th>
                  <th scope="col">
                    <i class="bi bi-calendar-check-fill"></i> Date du Tirage
                  </th>
                  <th scope="col">
                    <i class="bi bi-calendar-check-fill"></i> Date de Fin
                  </th>
                  <th scope="col" class="text-center">
                    <i class="bi bi-gear-wide-connected"></i> Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tirage of paginatedTirages">
                  <td>{{ tirage.name }}</td>
                  <td>{{ tirage.reward_price }}€</td>
                  <td>
                    {{ tirage.participant_count }} /
                    {{ tirage.max_participants }}
                  </td>
                  <td>
                    <span
                      class="badge rounded-pill fw-bold"
                      [ngClass]="{
                        'text-bg-success': tirage.status === 'EN_COUR',
                        'text-bg-primary': tirage.status === 'EN_VALIDATION',
                        'text-bg-warning': tirage.status === 'TERMINE',
                        'text-bg-info': tirage.status === 'SIMULATION',
                        'text-bg-dark': tirage.status === 'SIMULATION_TERMINE',
                      }"
                    >
                      {{ renderStatusToTemplate(tirage.status) }}
                    </span>
                  </td>
                  <td>
                    <ng-container *ngIf="tirage.start_date; else noStartDate">
                      {{ tirage.start_date | date: "dd/MM/yyyy" }}
                    </ng-container>
                    <ng-template #noStartDate>Pas de date</ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="tirage.end_date; else noEndDate">
                      {{ tirage.end_date | date: "dd/MM/yyyy" }}
                    </ng-container>
                    <ng-template #noEndDate>Pas de date</ng-template>
                  </td>
                  <td class="text-center">
                    <button
                      class="btn btn-link text-info p-0"
                      (click)="viewDetails(tirage.id)"
                    >
                      <i class="bi bi-eye"></i>
                    </button>
                    <button
                      class="btn btn-link text-danger p-0"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteUserModal"
                      (click)="confirmDelete(tirage.id)"
                    >
                      <i class="bi bi-trash fs-5"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->

          <nav
            *ngIf="paginatedTirages.length > 0"
            aria-label="Page navigation"
            class="mt-3"
          >
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a
                  class="page-link"
                  (click)="previousPage()"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li
                class="page-item"
                *ngFor="let page of pages"
                [class.active]="page === currentPage"
              >
                <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === totalPages"
              >
                <a class="page-link" (click)="nextPage()" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal de confirmation -->
<div
  class="modal fade"
  id="deleteUserModal"
  tabindex="-1"
  aria-labelledby="deleteUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserModalLabel">
          Confirmation de suppression
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer ce tirage ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteTirage()"
          data-bs-dismiss="modal"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
