<div class="container-fluid mt-5">
  <section>
    <div class="row mt-4 g-4 text-center">
      <div class="col-12">
        <h2 class="fs-1 fw-bold mb-4">
          Gestion des <span class="text-warning">participants</span> pour les
          tirages
        </h2>
        <p class="lead text-muted">
          Optimisez la gestion des participants avec une approche simple et
          efficace.
        </p>
      </div>
    </div>

    <div class="row mt-2 g-4">
      <div class="col-lg-6 col-md-12 d-flex justify-content-end">
        <div class="card shadow-sm border-light h-100">
          <div class="card-body">
            <h5 class="card-title">Facilité de gestion des participants</h5>
            <p class="card-text">
              Ajoutez, modifiez ou supprimez des participants en toute
              simplicité grâce à notre interface conviviale.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-start">
        <div class="card shadow-sm border-light h-100">
          <div class="card-body">
            <h5 class="card-title">Suivi de vos tirages</h5>
            <p class="card-text">
              Accédez aux informations détaillées de chaque tirage, incluant les
              participants et les récompenses, pour rester informé à chaque
              étape du processus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-tirage-list-shared [tirages]="tirages" />
