<div class="container-fluid mt-5">
  <section>
    <div class="row mt-4 g-4 text-center">
      <div class="col-12">
        <h2 class="fs-1 fw-bold mb-4">
          Gestion des <span class="text-primary">participants</span> pour les
          tirages
        </h2>
        <p class="lead text-muted">
          Optimisez la gestion des participants avec une approche simple et
          efficace.
        </p>
      </div>
    </div>

    <div class="row mt-2 g-4">
      <div class="col-lg-6 col-md-12 d-flex justify-content-end">
        <div class="card shadow-sm border-light h-100">
          <div class="card-body">
            <h5 class="card-title">Facilité de gestion des participants</h5>
            <p class="card-text">
              Ajoutez, modifiez ou supprimez des participants en toute
              simplicité grâce à notre interface conviviale.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-start">
        <div class="card shadow-sm border-light h-100">
          <div class="card-body">
            <h5 class="card-title">Suivi de vos tirages</h5>
            <p class="card-text">
              Accédez aux informations détaillées de chaque tirage, incluant les
              participants et les récompenses, pour rester informé à chaque
              étape du processus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

@if (tirages.length > 0) {
  <app-tirage-list-shared [tirages]="tirages" (updateParent)="onUpdate()" />
} @else {
  <section class="py-5">
    <!-- Bouton Collapse -->
    <div class="d-flex justify-content-center mb-3">
      <button
        class="btn btn-warning w-50"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        <i class="bi bi-plus-circle"></i> Créer une lottery
      </button>
    </div>

    <!-- Contenu Collapsé -->
    <div class="collapse" id="panelsStayOpen-collapseOne">
      <div class="accordion-body fs-5 d-flex justify-content-center">
        <form [formGroup]="newTirage" (ngSubmit)="createTirage()" class="w-75">
          <!-- Assurez-vous que le formulaire ait une largeur définie -->
          <!-- Titre -->
          <div class="mb-3">
            <label for="titre" class="form-label">Titre</label>
            <input
              type="text"
              class="form-control"
              id="titre"
              formControlName="name"
              required
            />
            <div
              *ngIf="
                newTirage.get('name')?.invalid && newTirage.get('name')?.touched
              "
              class="text-danger"
            >
              Titre requis (au moins 2 caractères).
            </div>
            <div *ngIf="hasServerError('name')" class="invalid-feedback">
              {{ hasServerError("name") }}
            </div>
          </div>

          <!-- Récompense -->
          <div class="mb-3">
            <label for="recompense" class="form-label">Récompense</label>
            <input
              type="number"
              class="form-control"
              id="recompense"
              formControlName="reward_price"
              required
            />
            <div
              *ngIf="
                newTirage.get('reward_price')?.invalid &&
                newTirage.get('reward_price')?.touched
              "
              class="text-danger"
            >
              Récompense requise (doit être supérieur à 0).
            </div>
            <div
              *ngIf="hasServerError('reward_price')"
              class="invalid-feedback"
            >
              {{ hasServerError("reward_price") }}
            </div>
          </div>

          <!-- Participants Max -->
          <div class="mb-3">
            <label for="participantsMax" class="form-label"
              >Participants Max</label
            >
            <input
              type="number"
              class="form-control"
              id="participantsMax"
              formControlName="max_participants"
              required
            />
            <div
              *ngIf="
                newTirage.get('max_participants')?.invalid &&
                newTirage.get('max_participants')?.touched
              "
              class="text-danger"
            >
              Nombre de participants requis (doit être supérieur à 0).
            </div>
            <div
              *ngIf="hasServerError('max_participants')"
              class="invalid-feedback"
            >
              {{ hasServerError("max_participants") }}
            </div>
          </div>

          <!-- Statut -->
          <div class="mb-3">
            <label for="status" class="form-label">Statut</label>
            <select
              class="form-select"
              id="status"
              formControlName="status"
              (change)="onStatusChange()"
            >
              <option value="EN_COUR">En cours</option>
              <option value="SIMULATION">Simulation</option>
            </select>
          </div>

          <!-- Date de début (visible uniquement si statut = "EN_COUR") -->
          <div class="mb-3" *ngIf="showDateFields">
            <label for="startDate" class="form-label">Date de début</label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              formControlName="start_date"
              required
            />
            <div
              *ngIf="
                newTirage.get('start_date')?.invalid &&
                newTirage.get('start_date')?.touched
              "
              class="text-danger"
            >
              Date de début requise.
            </div>
            <div *ngIf="hasServerError('start_date')" class="invalid-feedback">
              {{ hasServerError("start_date") }}
            </div>
          </div>

          <!-- Date de fin (visible uniquement si statut = "EN_COUR") -->
          <div class="mb-3" *ngIf="showDateFields">
            <label for="endDate" class="form-label">Date de fin</label>
            <input
              type="date"
              class="form-control"
              id="endDate"
              formControlName="end_date"
              required
            />
            <div
              *ngIf="
                newTirage.get('end_date')?.invalid &&
                newTirage.get('end_date')?.touched
              "
              class="text-danger"
            >
              Date de fin requise.
            </div>
            <div *ngIf="hasServerError('end_date')" class="invalid-feedback">
              {{ hasServerError("end_date") }}
            </div>
          </div>

          <!-- Bouton Créer -->
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="newTirage.invalid"
          >
            Créer
          </button>
        </form>
      </div>
    </div>
  </section>
}
