<app-navbar-shared [pageState]="pageState"></app-navbar-shared>
<!-- About account -->
<section class="timeline-container py-5 mt-5">
  <div class="timeline-header">
    <h2 class="fs-1 fw-bold mb-4">Com<span class="text-warning">pte</span></h2>
    <p class="lead text-muted">Suivez chaque étape de votre parcours.</p>
  </div>

  <div class="timeline mt-5">
    <!-- First item on the left -->
    <div class="timeline-item left">
      <h5>Créez votre compte</h5>
      <p>
        Inscrivez-vous facilement en quelques clics et accédez à notre
        application pour gérer vos activités. Remplissez les informations
        essentielles et personnalisez vos préférences dès le départ.
      </p>
    </div>

    <!-- Second item on the right -->
    <div class="timeline-item right">
      <h5>Personnalisez votre profil</h5>
      <p>
        Modifiez vos informations personnelles, téléchargez une photo de profil
        et ajustez vos paramètres de confidentialité pour une expérience sur
        mesure.
      </p>
    </div>

    <!-- Third item on the left -->
    <div class="timeline-item left">
      <h5>Accédez à vos données</h5>
      <p>
        Consultez vos interactions, suivez votre activité et accédez à des
        statistiques personnalisées en temps réel pour mieux gérer votre compte.
      </p>
    </div>

    <!-- Fourth item on the right -->
    <div class="timeline-item right">
      <h5>Gérez vos préférences</h5>
      <p>
        Ajustez vos préférences de notifications, choisissez comment et quand
        vous souhaitez recevoir des alertes. Votre compte, vos règles.
      </p>
    </div>
  </div>
</section>

<div class="container py-5">
  <div class="row mt-4 g-4">
    <div class="col-12">
      <h2 class="fs-1 fw-bold mb-3 text-end">
        Lancez <span class="text-warning">vous</span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul
        class="nav nav-tabs justify-content-center mt-3 g-2"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fs-5 me-2 me-md-4"
            [ngClass]="{ active: activeTab === 'login' }"
            (click)="selectTab('login')"
            id="home-tab"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Connectez-vous
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fs-5 me-2 me-md-4"
            [ngClass]="{ active: activeTab === 'registry' }"
            (click)="selectTab('registry')"
            id="profile-tab"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Inscrivez-vous
          </button>
        </li>
      </ul>
      <div class="tab-content mt-3" id="myTabContent">
        <div
          class="tab-pane fade"
          [ngClass]="{ 'show active': activeTab === 'login' }"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <!-- Connectez-vous Form -->
          <app-login-form (tabChange)="changeTab($event)" />
        </div>
        <div
          class="tab-pane fade"
          [ngClass]="{ 'show active': activeTab === 'registry' }"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <!-- Inscription Form -->
          <app-register-form
            (tabChange)="changeTab($event)"
          ></app-register-form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-shared></app-footer-shared>
