<app-navbar-shared [pageState]="pageState"></app-navbar-shared>
<!-- About account -->
<section class="container py-5 mt-5">
  <div class="row mt-4 g-4">
    <div class="col-12">
      <h2 class="fs-1 fw-bold mb-3 text-start">
        Com<span class="text-warning">pte</span>
      </h2>
    </div>
  </div>
  <div class="row mt-2 g-4">
    <div class="col-12">
      <p>
        Notre application a été conçue pour vous offrir une expérience simple,
        fluide et intuitive. Elle vous permet de gérer facilement toutes vos
        activités et d'accéder rapidement aux fonctionnalités qui vous
        intéressent. Que vous soyez un nouveau venu ou un utilisateur régulier,
        vous trouverez tout ce dont vous avez besoin en quelques clics.
      </p>

      <p>
        Avec notre application, vous pouvez suivre vos interactions en temps
        réel, accéder à des fonctionnalités personnalisées et gérer vos
        préférences. Nous mettons un point d'honneur à assurer la sécurité de
        vos données et la protection de votre vie privée à chaque étape de votre
        parcours.
      </p>
    </div>
  </div>
</section>

<div class="container py-5">
  <div class="row mt-4 g-4">
    <div class="col-12">
      <h2 class="fs-1 fw-bold mb-3 text-end">
        Lancez <span class="text-warning">vous</span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul
        class="nav nav-tabs justify-content-center mt-3 g-2"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fs-5 me-2 me-md-4"
            [ngClass]="{ active: activeTab === 'login' }"
            (click)="selectTab('login')"
            id="home-tab"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Connectez-vous
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fs-5 me-2 me-md-4"
            [ngClass]="{ active: activeTab === 'registry' }"
            (click)="selectTab('registry')"
            id="profile-tab"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Inscrivez-vous
          </button>
        </li>
      </ul>
      <div class="tab-content mt-3" id="myTabContent">
        <div
          class="tab-pane fade"
          [ngClass]="{ 'show active': activeTab === 'login' }"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <!-- Connectez-vous Form -->
          <app-login-form (tabChange)="changeTab($event)" />
        </div>
        <div
          class="tab-pane fade"
          [ngClass]="{ 'show active': activeTab === 'registry' }"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <!-- Inscription Form -->
          <app-register-form
            (tabChange)="changeTab($event)"
          ></app-register-form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-shared></app-footer-shared>
